<!DOCTYPE html>
<html>
  <head>
    <title>悟空云购</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <img src = "/images/wukongdbweb.jpg"  style="width:100%;height:100%">
  </body>
</html>
